html, body {
  background-color: #8AB9E3;
  text-align: center;
  color: #FFFFFF;
}

button {
  background: #FEE9E5;
  border: 2px solid #FEE9E5;
  border-radius: 7px;
  color: #6C4B78;
  font-size: 14pt;
  margin: auto;
}

button:hover {
  background: #FBD4D8;
  border: 2px solid #FFFFFF;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

#timer {
  width: 200px;
  height: 200px;
  font-size: 40pt;
  border: 3px #ffffff solid;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.timer-container {
  display: inline-block;
  text-align: center;
}
