html, body {
  text-align: center;
  font-family: proxima-nova,sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 50pt;
  margin: 0;
  color: #E93C8F;
  font-weight: 300;
  margin: 50px 10px;
}

p {
  padding: 10px;
  font-size: 10pt;
}

button {
  background: #FFFFFF;
  border: 2px solid #E93C8F;
  border-radius: 7px;
  /* color: #6C4B78; */
  font-size: 14pt;
  margin: auto;
}

button:hover {
  background: #FBD4D8;
  border: 2px solid #FFFFFF;
}

#chart {
  position: relative;
}

#timer {
  min-width: 150px;
  min-height: 150px;
  max-width: 200px;
  max-height: 200px;
  font-size: 30pt;
  border: 3px #E93C8F solid;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 18%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.timer-container {
  display: inline-block;
  text-align: center;
}

.century-container {
  border: 1px white solid;
  background-color: rgba(40, 102, 153, .25);
}

.tick line,
.domain {
  color: #FFFFFF;
}

.legend-container {
  display: flex;
  flex-direction: row;
}

.legend {
  max-width: 25%;
}

.tooltip {
  position: absolute;
  left: 0px;
  top: 0px;
  visibility: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  padding: 2px;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
}
